@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-main-border: #e5e5e5;
  --color-sidebar-hover: #cbe1f9;
  --color-primary: #473d5c;
  --color-sidebar-active: #4788c7;
  --color-card-border: #ababab;
  --color-search-border: #a7a7a7;
  --color-primaryButton: #37a9d3;
  --color-dangerButton: #d33737;
  --color-truck: #13a6a5;
  --color-shop: #37a9d3;
  --color-coin: #0fbfd9;
}